@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: "Poppins", sans-serif;
}

.img {
    /* background: #1abc9c; */
    background-image   : url(../Images/business-buy-card-commercial-wallpaper-preview.jpg);
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    position           : absolute;
    right              : 0;
    left               : 0;
    bottom             : 0;
    top                : 0;
}



::selection {
    background: rgba(26, 188, 156, 0.3);
}

.container {
    max-width: 440px;
    padding  : 0 20px;
    margin   : 170px auto;
}

.wrapper-htu {
    width        : 100%;
    background   : #fff;
    border-radius: 5px;
    opacity      : 0.8;
}

.wrapper-htu .title {
    height         : 90px;
    background     : #5f6866;
    border-radius  : 5px 5px 0 0;
    color          : #fff;
    font-size      : 30px;
    font-weight    : 600;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.wrapper-htu form {
    padding: 30px 25px 25px 25px;
}

.wrapper-htu form .row {
    height       : 45px;
    margin-bottom: 15px;
    position     : relative;
}

.wrapper-htu form .row input {
    height       : 100%;
    width        : 100%;
    outline      : none;
    padding-left : 60px;
    border-radius: 5px;
    border       : 1px solid lightgrey;
    font-size    : 16px;
    transition   : all 0.3s ease;
}

form .row input:focus {
    border-color: #5f6866;
    box-shadow  : inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .row input::placeholder {
    color: #999;
}

.wrapper-htu form .row i {
    position       : absolute;
    width          : 50px;
    height         : 100%;
    color          : #fff;
    font-size      : 18px;
    background     : #5f6866;
    border         : 1px solid #16a085;
    border-radius  : 5px 0 0 5px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.wrapper-htu form .pass {
    margin: -8px 0 20px 0;
}

.wrapper-htu form .pass a {
    color          : #5f6866;
    font-size      : 17px;
    text-decoration: none;
}

.wrapper-htu form .pass a:hover {
    text-decoration: underline;
}

.wrapper-htu form .button input {
    color       : #fff;
    font-size   : 20px;
    font-weight : 500;
    padding-left: 0px;
    background  : #5f6866;
    border      : 1px solid #16a085;
    cursor      : pointer;
}

form .button input:hover {
    background: #5f6866;
}

.wrapper-htu form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size : 17px;
}

.wrapper-htu form .signup-link a {
    color          : #5f6866;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}